container {
  position : relative;
  height: 800px;
  overflow:hidden;
}

#mapContainer {
  position : absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
}

#mapSidebar {
  position : absolute;
  top : 0;
  right : 0;
  z-index: 5;
  background-color: white;
  display:none;
  padding-bottom: 20px;
  width: 35%;
}

#metrics-form {
  display:none;
}

#routing-form {
  display:none;
}

#routing-form-results {
  /*margin-top: 20px;*/
}

/* Styling Buttons */
.btn-group-justified>.btn-group .btn {
  width: 100%;
}

.btn-group-justified .btn-group .btn.active {
  color: #0054a4;
  border-bottom-color: #0054a4;
  background: none;
  box-shadow: none;
}

.btn-group-justified .btn-group .btn {
  width: auto;
  padding: 10px 35px;
  border: solid transparent;
  border-width: 0 0 2px 0;
  border-radius: 0;
}