container {
  position : relative;
  height: 800px;
  overflow:hidden;
}

#mapContainer {
  position : absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
}

#mapSidebar {
  position : absolute;
  top : 0;
  right : 0;
  z-index: 5;
  background-color: white;
  display:none;
  padding-bottom: 20px;
  width: 38%;
  /*overflow-y: auto;*/
}

#metrics-form {
  display:none;
  height:600px;
  overflow-y:auto;
}

#routing-form {
  display:none;
}

#routing-form-results {
  /*margin-top: 20px;*/
  overflow-y: auto;
  height: 600px;
}

/* Direction Classes */
.direction {
  font-size: 120%;
}

/* Score Classes */
#agg-score-header {
  cursor:pointer;
}

#agg-score-body {
  display:none;
  padding-left:10px;
}

/* Conditional positive/negative metric styling */
.metricEqual {
  color: gray;
}

div#percentHousingCrowded.metricLessThan {
  color: green;
}
div#percentHousingCrowded.metricGreaterThan {
  color: red;
}

div#percentHouseholdsBelowPoverty.metricLessThan {
  color: green;
}
div#percentHouseholdsBelowPoverty.metricGreaterThan {
  color: red;
}

div#percentAged16Unemployed.metricLessThan {
  color: green;
}
div#percentAged16Unemployed.metricGreaterThan {
  color: red;
}

div#percentAged25NoDiploma.metricLessThan {
  color: green;
}
div#percentAged25NoDiploma.metricGreaterThan {
  color: red;
}

div#percentHouseholdsBelowPoverty.metricLessThan {
  color: green;
}
div#percentHouseholdsBelowPoverty.metricGreaterThan {
  color: red;
}

div#perCapitaIncome.metricLessThan {
  color: red;
}
div#perCapitaIncome.metricGreaterThan {
  color: green;
}



/* Metric Classes */
/*
.metricLessThan {
  color: red;
  font: bold;
}
.metricGreaterThan {
  color: green;
}*/

/* Styling Buttons */
.btn-group-justified>.btn-group .btn {
  width: 100%;
}

.btn-group-justified .btn-group .btn.active {
  color: #0054a4;
  border-bottom-color: #0054a4;
  background: none;
  box-shadow: none;
}

.btn-group-justified .btn-group .btn {
  width: auto;
  padding: 10px 35px;
  border: solid transparent;
  border-width: 0 0 2px 0;
  border-radius: 0;
}