container {
  position : relative;
  height: 800px;
  overflow:hidden;
}

#mapContainer {
  position : absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
}

#mapSidebar {
  position : absolute;
  top : 0;
  right : 0;
  z-index: 5;
  background-color: white;
  display:none;
}